[2018-07-05 21:34] white238 opened #4 "Support out of source BLT with BLT_SOURCE_DIR"
It would be useful if you supported out of source BLT instances. Here is an example of how to do so:

################################
BLT

################################
if (DEFINED BLT_SOURCE_DIR)
# Support having a shared BLT outside of the repository if given a BLT_SOURCE_DIR

if (NOT EXISTS ${BLT_SOURCE_DIR}/SetupBLT.cmake)
    message(FATAL_ERROR "Given BLT_SOURCE_DIR does not contain Setu

[2018-07-05 21:35] white238 commented on #4
that is some interesting code formatting... sorry

[2018-08-03 23:30] davidbeckingsale commented on #4
We fixed this 😄 , closing.

[2018-08-03 23:30] #4 closed

[2018-08-16 20:50] pchong90 opened #8 "thread safe DynamicPool for cuda unified memory"
Hi,

I'm trying to use Umpire to manage CUDA unified memory. The program is multi-threaded, so I try to make a thread-safe allocator.
Here is my code
[code]
The `thread_safe_um_dynamic_pool` allocator is stored in a global class and used by all threads to allocate and deallocate cuda unified memory.

However, I found that my program will stochastically throw an error when deallocating unified memo

[2018-08-16 20:57] davidbeckingsale commented on #8
That looks like it should work. Would you be able to share the reproducer?

[2018-08-16 21:02] davidbeckingsale commented on #8
Also, could you try printing the address of the shared Allocator from each thread, just to confirm they are all sharing the same one?

[2018-08-16 22:26] davidbeckingsale commented on #8
Okay, thank you!

[2018-08-18 22:26] pchong90 commented on #8
Hi David,

Sorry to bother you over the weekend.
I made a simple example that only uses umpire and independent of my project code.
The code is attached to this comment.
I compiled umpire with the following configuration
[code]
To compile the example,  rename `umpire_test.cpp.txt` to `umpire_test.cpp`, do `cmake -Dumpire_DIR=... ./` then `make`.
To run: `./umpire_test > output` This redirect the ou

[2018-08-19 19:44] pchong90 commented on #8
Hi David,
I think I find an issue and it fixes this problem. I will send a pull request once I confirmed that it did fix the problem by doing more tests.

[2018-08-20 16:11] davidbeckingsale commented on #8
Sounds good! Thanks very much.

[2018-08-22 19:45] #8 closed

[2018-09-17 21:17] pchong90 opened #16 "support to use different host compiler for CUDA"
I'm compiling my code using gcc8 and CUDA9.  But CUDA9 does not support gcc 6 and later. So I used gcc5 as CUDA host compiler. The cmake configuation look like this
[code]
The Umpire cmake script failed when testing CUDA compiler, because it is not able to pick the correct host compiler (which is gcc5) in this case.
The issue seems to be in blt. https://github.com/LLNL/blt/blob/master/cmake/thirdp

[2018-09-17 21:20] davidbeckingsale commented on #16
I believe that the correct thing to do would be to specify `-DCMAKE_CXX_COMPILER=/path/to/gcc5/bin`. CMake should then correctly set the host compiler.

What version of CMake are you using?

[2018-09-17 21:44] davidbeckingsale commented on #16
If you set `CMAKE_CXX_COMPILER` to be the g++ 5 executable, does it work?

[2018-09-18 00:18] pchong90 commented on #16
Hi David,
set `CMAKE_CXX_COMPILER` to g++5 does not help.
set `CMAKE_CUDA_HOST_COMPILER` to g++5 fixed the issue.
I think it is CMake's issue by not picking up `CUDA_NVCC_FLAGS` in the `enable_language(cuda)` function.
I will close this issue, thank you for you help!

[2018-09-18 00:18] #16 closed

[2018-09-19 01:01] davidbeckingsale commented on #16
I overlooked this the first time, but the flag variable for CUDA flags changed - it's now `CMAKE_CUDA_FLAGS`. Maybe that would be another fix.

[2018-12-06 05:26] mcfadden8 opened #28 "Allow for a user to flush memory pools"
Allow for applications to perform a "soft" reset on memory pool strategies that allow it by adding a new API: ResourceManager::flush(Allocator).

[2018-12-06 14:43] mcfadden8 commented on #28
Great!

I was going to try and work on it tonight, but if you can get to it that would be great.

Thanks,

Sent from my iPad

On Dec 6, 2018, at 5:24 AM, David Beckingsale <notifications@github.com<mailto:notifications@github.com>> wrote:

@mcfadden8<https://github.com/mcfadden8> - I have some time to tackle this today!

—
You are receiving this because you were mentioned.
Reply to this email dire

[2018-12-06 14:44] davidbeckingsale commented on #28
No problem, PR here #29 !

[2018-12-06 20:32] mcfadden8 opened #31 "Guard against abi::cxx* for ROCM builds"

[2018-12-06 20:34] #31 closed

[2018-12-06 20:34] mcfadden8 commented on #31
opened by mistake

[2018-12-10 18:14] #28 closed

[2019-01-16 20:36] robinson96 opened #42 "Umpire Segfaults during initialization of DEVICE_CONST"
**Describe the bug**

Umpire Segfaults while creating the DEVICE_CONST allocator.

**To Reproduce**

I am using CHAI + UMPIRE in a large multiphysics code. Have not attempted to reproduce yet in a smaller executable.  The problem occurs during initialization of umpire.

This is on a P8+ P100 system.

**Expected behavior**

Don't segfault.

**Compilers & Libraries (please complete the following inf

[2019-01-23 21:38] davidbeckingsale commented on #42
This was due to running on a node without a GPU.

We will add a better error message to catch and prevent this in the future.

[2019-01-23 21:38] #42 closed

[2019-01-24 14:02] davidbeckingsale commented on #42
Improved error message added in #44

[2019-02-01 20:05] pjh40 opened #55 "Installation problems with ENABLE_C_API"
**Describe the bug**

When attempting to install a build with ENABLE_C_API=ON, the `umpire.h`, `shroudrt.hpp`, `wrapAllocator.h` and `wrapResourceManager.h` files are installed in `$PREFIX/include`, rather than `$PREFIX/include/interface` and `PREFIX/include/interface/c_fortran`.

**To Reproduce**

[code]

[2019-02-04 18:20] pjh40 commented on #55
Oh, that is good news about not needing `shroud` to install... thanks for the info and the help!

[2019-02-04 18:32] davidbeckingsale commented on #55
No problems! The C API is still a work in progress, so please let us know if you run in to any other problems.

[2019-02-04 19:37] pjh40 commented on #55
Okay, it is close: still missing `typesUmpire.h`.  Everything else is in the right spot though!

[2019-02-04 19:39] davidbeckingsale commented on #55
Doh, sorry about that - it was completely missed off the list.

[2019-02-04 19:40] davidbeckingsale commented on #55
Should now be fixed.

[2019-02-04 20:05] pjh40 commented on #55
Great, works for me!  Thanks for the fix.

[2019-05-31 19:36] crtrott opened #128 "Compilation Error when enabling CUDA"
**Describe the bug**

Compilation Error with CUDA enabled: "Unknown option pthread"

**To Reproduce**

[code]

**Expected behavior**

Compilation succeeds

**Compilers & Libraries (please complete the following information):**
GCC 6.4.0
CUDA 10.0

**Additional context**

Compile line with make VERBOSE=1
[code]
The offending option is the "-pthread" in the compile line not the "-lpthread".

[2019-05-31 19:37] davidbeckingsale commented on #128
@crtrott - what version of CMake?

[2019-05-31 19:37] crtrott commented on #128
3.12.2

[2019-05-31 19:38] crtrott commented on #128
I want to try a random size allocation benchmark (as more discussion basis for the email you send).

[2019-05-31 19:39] davidbeckingsale commented on #128
This is a known issue with CMake, fixed in 3.12.4 - do you have a newer version available? (or older -  3.9.x works fine)

[2019-05-31 19:39] crtrott commented on #128
I think this is one of those cmake issues with nvcc ...

[2019-05-31 19:41] crtrott commented on #128
Jup cmake 3.10.3 works, feel free to close ..

[2019-05-31 19:41] #128 closed

[2019-07-09 15:35] andresrubiop opened #170 "Error -DENABLE_NUMA=On"
**Describe the bug**

Hello I am trying to install Umpire with Numa Option but I am receiving the error below. If i do it without that option it Works! Do you have an idea?

**To Reproduce**

cmake .. -DCMAKE_INSTALL_PREFIX=/home/arubio/Umpire -DENABLE_CUDA=On -DENABLE_NUMA=On -DENABLE_STATISTICS=Off -DENABLE_GMOCK=On -DENABLE_TESTS=Off -DENABLE_OPENMP=On -DENABLE_WARNINGS_AS_ERRORS=On -DENABLE_C=

[2019-07-09 16:10] jdahm commented on #170
Thank you for bringing this to our attention! Our CI testing framework does not current test builds with with ENABLE_NUMA=ON. We recently made a switch in interface, and these function signatures are out of date.

[2019-07-09 16:11] davidbeckingsale commented on #170
Please see #171 - let us know if that works for you @andresrubiop

[2019-07-09 20:08] andresrubiop commented on #170
Oh Great! it works.
Thanks

[2019-07-09 20:08] #170 closed

[2019-07-09 20:08] davidbeckingsale commented on #170
Awesome! Please let us know if you have any other issues or questions.

[2019-07-16 14:42] pjh40 opened #180 "strategy_tests failure"
**Describe the bug*

During the execution of strategy_tests, I get the following failure on the fourth iteration of the loop at line 167 of strategy_tests.cpp:
[ERROR][/home/phenning/UmpProj/pkg/Umpire/src/umpire/alloc/CudaMallocAllocator.hpp:35]: allocate cudaMalloc( bytes = 4029677568 ) failed with error: out of memory
/home/phenning/UmpProj/pkg/Umpire/tests/integration/strategy_tests.cpp:172: F

[2019-07-16 14:50] pjh40 commented on #180
Sorry, actually using the ibm/xlc-16.1.1.3-xlf-16.1.1.3 compilers.

[2019-07-16 16:42] jdahm commented on #180
Hi @pjh40, Thanks for reporting this! It looks like some (of my) recent pull request merges broke this test, and the CI tests didn't catch it. I'm working on a fix for this and an issue and logging, and should have things back to normal soon. For the time being, @davidbeckingsale reported to me that commit `7f1c921` works, in case you want to roll back to a working version newer than the last rele

[2019-07-16 18:16] jdahm commented on #180
The last fix is about to be merged to the `release/1.0.0` branch. It should be all ready in a few minutes.

[2019-07-16 18:41] jdahm commented on #180
Hi Paul, We've merged the fixes and tested them on LLNL systems. Could you give the code a try on your end and close the PR if the issue is resolved? Thanks!

[2019-07-16 19:26] pjh40 commented on #180
Thanks for the patch.  All tests passed successfully with gcc/7.3.0, configured with:
    -DENABLE_MPI=OFF \
    -DENABLE_CUDA=On \
    -DENABLE_C=ON \
    -DENABLE_FORTRAN=OFF \
    -DCMAKE_BUILD_TYPE=Release \

[2019-07-16 19:26] #180 closed

[2019-09-23 00:19] evaleev opened #251 "AllocationAdvisor needs to revoke advice in deallocate if using pooled allocator"
**Describe the bug**

If using a pooled allocator AllocationAdvisor will leave advice for pages that were "freed".

**To Reproduce**

N/A

**Expected behavior**

AllocationAdvisor will revoke advice for buffers deallocated by a pooled allocator.

[2019-09-23 20:05] davidbeckingsale commented on #251
Hey @evaleev, thanks for opening this issue. Can you add any additional context?

When using a pool on top of AllocationAdvisor, the whole point is that the same advice is applied to the entire pool at the "block" allocation level to avoid the overhead of many calls to `cudaMemAdvise`. At what point did you want the advice revoked?

[2019-09-25 12:16] evaleev commented on #251
Maybe I misunderstood the purpose (or intended use case) of `AllocationAdvisor` then.

Our use of the dynamic pool allocator ([TiledArray](https://github.com/ValeevGroup/TiledArray)) is to reduce the overhead of allocation from UM. We want to provide hints to the UM driver on a per-allocation basis. But once we release the allocation we want to revoke the advice since there is a good chance the sa

[2019-09-25 18:29] davidbeckingsale commented on #251
Okay, that makes sense! That use case is definitely appropriate - it's just not one we had been thinking of. The use case we have seen is putting the `AllocationAdvisor` below the pool to mitigate overhead.

For your use case, is having to create one `Allocator` (using an `AllocationAdvisor`) for each type of memory advice too restrictive? We have implemented the allocation hints as "operations",

[2019-09-25 18:33] davidbeckingsale commented on #251
I'm tracking the original issue on our internal JIRA as UM-486.

[2019-09-26 04:08] kennyweiss opened #254 "More flexibility in configuring cxxopts"
**Is your feature request related to a problem? Please describe.**

The ``cxxopts`` submodule is a required dependency for building umpire, but appears to only be necessary for building ``umpire``'s tests, examples and tools.

**Describe the solution you'd like**

Ideally,
1. Umpire could be configured to not require ``cxxopts`` when its dependant targets (e.g. tools, examples, tests) are disabled

[2019-09-26 15:00] davidbeckingsale commented on #254
Hey @kennyweiss - thanks for opening this issue. I can see the problem, and will implement the solution you are proposing.

[2019-10-03 00:28] davidbeckingsale commented on #254
We decided to just bundle cxxopts - thanks for the suggestion @kennyweiss.

Closed by #257

[2019-10-03 00:28] #254 closed

[2019-10-03 16:39] kennyweiss commented on #254
Thanks @davidbeckingsale !

[2019-10-10 13:51] mrnorman opened #262 "Prefetching for CUDA Managed Memory"
**Is your feature request related to a problem? Please describe.**

I'm wanting to use Umpire with a UM pool to help our Fortran directives code simplify data statements (as in we wouldn't need them anymore). We need the pool to rid the costs of many `cudaMallocManaged` calls as well. However, I looked at the allocate, and it appears not to prefetch. I did a test with a simple stack-based pool lin

[2019-10-10 15:00] mcfadden8 commented on #262
Does the following provide the functionality you are looking for?

[code]

[2019-10-10 15:35] mrnorman commented on #262
Thanks for the response. So `rm.memset` calls `cudaMemSet()` under the hood? I'll give `cudaMemSet()` a try. I recognize calling `cudaMemPrefetchAsync()` might be problematic because it requires knowing what GPU number to do it on, for instance.

[2019-10-10 15:54] mrnorman commented on #262
Thanks! Also, is there a simple tutorial of a workflow for using the Fortran bindings for a pool allocator? Sorry if I missed it on the documentation github.io page. I'll keep looking through the code. Unfortunately, my time is a bit divided at the moment, so context switching to Umpire is taking some time for me.

[2019-10-10 17:56] davidbeckingsale commented on #262
We have a brief example in our "cookbook" here: https://umpire.readthedocs.io/en/develop/cookbook/pinned_pool.html

[2019-10-10 20:30] evaleev commented on #251
@davidbeckingsale I think the "operations" route would be most convenient since the logic of advising is typically fine-grained.

Thanks for your work on Umpire, it is a really nice abstraction layer!

[2019-10-10 20:40] davidbeckingsale commented on #251
No worries! I will add an example of how to use the operations directly to the #258

[2019-10-10 21:29] davidbeckingsale commented on #251
Hey @evaleev - I added an example of directly setting/revoking memory advice here: https://github.com/LLNL/Umpire/pull/258/files#diff-6b007d7e1293767b580bb3f2091c5f00R38

Does this look like a reasonable API? If not, we could hide some of the junk inside the ResourceManager and give you an API that looks more like:

[code]

Let us know what you think.

[2019-10-11 14:55] evaleev commented on #251
David:

this looks fine. The rm.apply version would be fine also but I'd imagine
that would have to look up the ops, etc. The costs of that can be amortized
if needed with the current approach.

I guess the remaining question is whether the advices can be introspected,
so that when we deallocate data from a pool we can know whether to unset
the applicable advices.

Ed.

On Thu, Oct 10, 2019 at 5:2

[2019-10-15 19:20] davidbeckingsale commented on #251
Advice can be introspected, I'm working on adding that to the PR 😄

[2019-10-15 22:29] davidbeckingsale commented on #262
Hey @mrnorman - I've updated #263 with the Fortran bindings and an [example](https://github.com/LLNL/Umpire/blob/feature/prefetch/examples/cookbook/recipe_prefetch_pool.F). Can you take it for a spin and let me know if it works for your use case?

[2019-10-16 13:58] mrnorman commented on #262
Sweet, I'll test it out. Thanks.

[2019-10-16 15:31] mrnorman commented on #262
Just got done compiling with:

[code]

It looks like when I `make install`, the fortran module files aren't propagated over to the include directory:

[code]

[2019-10-16 15:38] davidbeckingsale commented on #262
Doh 🤦‍♂ fixing...

[2019-10-16 15:44] davidbeckingsale commented on #262
@mrnorman - updated branch to install modules to `./include/umpire`.

Please let me know if there is a better place to be installing them.

[2019-10-16 19:59] davidbeckingsale commented on #262
Awesome, thanks for your patience!

[2019-10-23 16:44] davidbeckingsale commented on #262
@mrnorman - do you think it's best if Umpire, or the user handles synchronization? Right now, I have the prefetch operation sync after every call - this is a bit heavy-handed, and it might be best to rip this out and have the user sync as appropriate.

Let me know what you think.

[2019-10-23 19:13] evaleev commented on #262
@davidbeckingsale my 2 cents: yes, I tried using this API and the sync was the showstopper. Synchronizing version perhaps should be a separate op, but then the question is what type of synchronization the user need (per stream, per device) ...

[2019-10-23 19:14] davidbeckingsale commented on #262
@evaleev - I agree, I think right now we have to let the user decide. We are working on providing portable access to this kind of capability, but it's under development right now.

[2019-11-20 19:17] TotoGaz opened #282 "Cannot compile Umpire without git"
I cannot compile Umpire on an environment without `git` (which may happen for CI/CD containers).
I get:
[code]

[2019-11-20 19:44] TotoGaz commented on #282
Hi @mcfadden8! I let you close the issue when it's merged :)

[2019-11-20 19:45] mcfadden8 commented on #282
Will do.  Just waiting for builds to finish

[2019-11-20 19:56] mcfadden8 commented on #282
Merged into develop.  Thanks!

[2019-11-20 19:56] #282 closed

[2019-11-20 19:57] TotoGaz commented on #282
You're welcome.
Thank you for being reactive.

[2019-12-04 18:15] adrienbernede opened #287 "Compiler update and categories"
## Goal
I would like to update compilers/toolchains tested of LC systems, for example adding those used by RAJA.
However:
 - Theres a lot of them, some probably useless.
 - There is no need to test all of them for each change, we could test all of them nightly.

That’s why I would like to classify them it two categories: core/main/basic and extension/secondary/advanced.

## Current state
On toss3

[2019-12-04 22:56] rhornung67 commented on #287
@adrienbernede I don't think we need to run tests with all the compiler you listed. We maintain a bunch of build scripts in RAJA to make it easy to test different compiler versions. I think it suffices to pick a couple of relevant versions of each compiler (based on what our application users use), especially since the blueos clang and xl compilers are still being updated frequently. For example,

[2019-12-04 23:21] adrienbernede commented on #287
@rhornung67 I agree with you that this list can be cut down, at least for the most frequent tests.
I am simply asking for a concrete list of compiler which should be tested on a systematic manner.
Then, I don’t see any problem in testing a larger set of compilers from time to time (typically a scheduled check of master branch).

As you said, it depends on users, on the project, on the machine, etc

[2019-12-09 16:07] davidbeckingsale commented on #287
Hey @adrienbernede  - thanks for compiling the list. I think it might be appropriate to run our tests on the latest version of each compiler, and then have a weekly test that runs the older versions.

What do you think @rhornung67 ?

[2019-12-09 17:26] rhornung67 commented on #287
Makes sense.

[2019-12-09 17:36] adrienbernede commented on #287
OK!

[2019-12-11 15:26] davidbeckingsale commented on #262
#263 added support for this, so I'm going to close this issue. @mrnorman - please open a new issue if you run into any other problems.

[2019-12-11 15:26] #262 closed

[2019-12-13 22:19] #251 closed

[2020-02-05 02:54] #287 closed

[2020-02-28 22:01] evaleev opened #317 "support for SYCL"
**Is your feature request related to a problem? Please describe.**

Need to be able to execute on Intel GPUs

**Describe the solution you'd like**

introduce support for SYCL allocations

**Describe alternatives you've considered**

We are dependent on Umpire, and would like to avoid the need to find alternatives, if possible :)

**Additional context**

N/A

[2020-03-03 01:54] davidbeckingsale commented on #317
Tracking this internally, will ping you when we have a branch ready for testing!

[2020-03-10 18:00] brunner6 opened #321 "Support compiling with clang and -stdlib=libc++"
**Describe the bug**

There is some code to demangle C++ names in tools/replay/ReplayInterpreter.cpp that relies on a non-standard GCC extension, `abi::__cxa_demangle`.  When compiling with clang and using the -stdlib=libc++ option, which uses LLVM's implementation of the standard library, this function is not available.

**To Reproduce**

Compile the code with
[code]

**Expected behavior**

The c

[2020-03-10 18:21] mcfadden8 commented on #321
Thanks @brunner6, since the replay tool depends on the demangled signatures in order to reconstruct (replay the makeAllocator calls), I guess that we should address this by updating the CMakeList file to not include the replay toolset if their is no support for demangling.

Are there other Umpire tools you are interested in using with with `-stdlib=libc++`?  I'm want to make sure I understand why

[2020-03-10 19:08] brunner6 commented on #321
At one point this code wasn't protected by the `ENABLE_TOOLS=ON`.  The last version of Umpire we had, we needed to apply this patch in order to build.  (Or a similar one anyway.)

In general, we like testing with "odd" compilers so that you can find non-standard usage of the library, and calling `abi::__cxa_demangle` counts.  (Microsoft doesn't support it either, and this tool is broken there too.

[2020-03-10 19:29] mcfadden8 commented on #321
I think it is necessary for `replay` to be able to generate template arguments, specifically, the strategy type.  For example, when `replay`  is run, it will parse the following from the replay input file:
[code]
and will generate the following call from Umpire:
[code]
So the implementation needs to demangle `"type":"N6umpire8strategy9MixedPoolE"` to `umpire::strategy::MixedPool`.

[2020-03-18 21:27] mcfadden8 commented on #321
I am placing appropriate guards around the demangling calls as part of the backtrace stuff I am working on.  I will link this issue to an upcoming PR and we will get this fixed.

[2020-03-23 16:53] mcfadden8 commented on #321
This has been fixed in the 'develop' branch and will be made available with the 2.2.0 release of Umpire

[2020-03-23 16:53] #321 closed

[2020-05-06 19:45] chris-schroeder opened #343 "Apply Memory Advice to a Pool, host vs device"
I'm not sure, but it looks like there's a significant glitch in this page in the Cookbook: https://umpire.readthedocs.io/en/develop/cookbook/pool_advice.html#apply-memory-advice-to-a-pool. The comments say the preferred location is being set to the device/GPU, but the code uses preferred_location_host.

[2020-05-06 19:54] davidbeckingsale commented on #343
Ooops you're quite right. The `preferred_location_host` is just the name given to the Allocator. It is actually setting preferred location to the GPU. See [here](https://github.com/LLNL/Umpire/blob/develop/src/umpire/strategy/AllocationAdvisor.cpp#L36) where the `accessing_allocator` parameter is used to determine the location when applying advice.

[2020-05-06 20:29] #343 closed

[2020-05-17 21:05] mclarsen opened #346 "Version of BLT fails to compile with gcc 9.3"
**Describe the bug**

gtest via BLT does not compile with gcc 9.3 (fixed in current blt). Consider updating blt or adding an option to not compile gtest.

**To Reproduce**

compile with gcc 9.3

[2020-05-18 15:03] davidbeckingsale commented on #346
Hey @mclarsen - thanks for reporting this. Updating BLT is on our todo list.

If you use the CMake option `-DENABLE_TESTS=Off`, then gtest won't be built (and neither will any tests)

[2020-05-18 15:10] mclarsen commented on #346
Thanks David. Is there a `~tests` variant inside the spack package?

[2020-05-18 15:12] davidbeckingsale commented on #346
I don't think so :(

[2020-05-18 15:27] mclarsen commented on #346
Do the tests get installed? If not, it may be a good idea to never build them in spack. I have been meaning to do this for a while in the libraries I maintain, but haven't gotten to it.

[2020-05-18 18:45] davidbeckingsale commented on #346
@mclarsen - which BLT version was this fixed in?

[2020-05-18 23:22] davidbeckingsale commented on #346
Since this is fixed in BLT v0.3.0 which is used in Umpire develop I'm going to close this.

[2020-05-18 23:22] #346 closed

[2020-06-13 00:26] adrienbernede opened #352 "Place C++ standard requirements in build system"
**Is your feature request related to a problem? Please describe.**

Umpire specifies either `-std=c++11` or `-std=c++17` for intel compilers in host-config files.

**Describe the solution you'd like**

In CMake, it is possible to specify compiler requirements (CMake compile features). Specifying the exact C++ features required in Umpire, CMake will adapt the flags to provide the minimum required s

[2020-06-14 15:54] mclarsen opened #353 "Question: static variable allocated with umpire"
Background: I have an array class that uses umpire to allocate and deallocate memory. I have a need to store some resources statically (for performance reasons), but if I have an Array  class that is statically declared I have a problem. When it comes time to destruct it, I ask umpire for the "host" allocator, which i assume is stored inside a static variable, but the issue is that the variable th

[2020-06-16 00:03] davidbeckingsale commented on #353
Hey @mclarsen - how would you want this to work? It's really hard to deal with stuff at shutdown like this since you cannot order the destruction of objects correctly. You might be able to "hold on" to the resource manager in your static object such that the order ends up being correct.

All allocators will exist until the ResourceManager is destroyed.

[2020-06-16 17:01] mclarsen commented on #353
This isn't anything critical. I agree that his is hard and dangerous (order of statically destructed objects). I just wanted to see if you had any thoughts. If I ever end up with a critical case, then I might revisit.

[2020-06-16 17:01] #353 closed

[2020-06-16 18:23] ashermancinelli opened #354 "Documentation of resource registration"
**Is your feature request related to a problem? Please describe.**

Insufficient documentation or possible error with registering an allocation with umpire.

**Describe the solution you'd like**

A small working example of an allocator registering a host pointer as a resource in the documentation.

**Describe alternatives you've considered**

We are currently copying data from a natively allocated

[2020-06-16 19:30] davidbeckingsale commented on #354
Hey @ashermancinelli - I tried your example (from the "what we would like to do") section and it worked just fine. Can you confirm that the data is not being copied when you try this?

[2020-06-17 05:22] ashermancinelli commented on #354
It seems you are right... I'm not sure why my assertions were being thrown earlier. If I run into that problem again I'll make sure to raise it here. Would it be helpful if we wrote an example use case in a PR against this repository? Secondarily will we incur a memory leak if we do not deregister the pointer with the resource manager?

Thank you again for your responsiveness, we've been able to m

[2020-06-18 17:00] davidbeckingsale commented on #354
If you would like to turn your use case into an example, that would be fantastic and we would welcome the PR.

If you don't deregister the allocation, you won't leak memory due to the `AllocationRecord`.  Remember that Umpire doesn't automatically deallocate, so you must still deallocate the memory somewhere.

[2020-06-18 18:36] #354 closed

[2020-06-18 19:16] ashermancinelli commented on #354
I have the example ready for PR, just waiting on our legal team for clearance.

[2020-06-19 00:35] adrienbernede opened #356 "Regroup builds and unit tests in Gitlab CI"
I would like to merge builds with their associated tests in quartz CI.

I think separation of builds and unit-tests of quartz only has proved to be of little interest, and it’s a pain to maintain (duplication).

This would only make it less straightforward to say at a glance if the job failed in build or in test, but we could improve error message in the log to help with this.

Note:
- For a proje

[2020-06-25 14:43] tepperly opened #358 "Custom alignment doesn't work in DynamicPoolMap"
**Describe the bug**

[code]

**To Reproduce**

Compile the program above and run.  Pointer return isn't 64-byte aligned as requested.

**Expected behavior**

I expected allocate to return 64-byte aligned memory addresses.

**Compilers & Libraries (please complete the following information):**

g++ version 8.3.1 20190223 (Red Hat 8.3.1-2)

**Additional context**

Add any other context about the pr

[2020-06-29 23:49] #358 closed

[2020-06-29 23:51] davidbeckingsale commented on #358
Hey @tepperly  - this is fixed by #359 . The pools assume you will want alignment based on the underlying allocator. For CPU memory, the AlignedAllocator will let you chose any power of 2 alignment >= 16. You can then either create a pool on top of that AlignedAllocator with your desired alignment, or ignore the aligment of the pool, and create the AlignedAllocator on top of the pool. The first ap

[2020-07-14 23:47] adrienbernede opened #367 "Hostconfig and Spack package: Where should we draw the line"
### The context

In the Spack package, we can change a lot of parameters to configure the build.
All these parameters are not transposed to the host-config file because it would make them too specific, and naming them (for example) would be a pain.

Instead, a host-config file aims at configuring the toolchain, and how the projects adapts to it.

In practices:

#### Everything "host-config" goes i

[2020-07-16 22:47] davidbeckingsale commented on #367
I would like a build to reproducible entirely from a CMake "host-config". I believe this is what we originally discussed. To make this work we need a low overhead way of generating these files "on demand" via uberenv. If there is a way to cache the spack clone I think that would be fine.

[2020-07-17 17:36] adrienbernede commented on #367
I see 2 different points in your answer:
- All information for a build should go in the host-config (including build_type, omp, API support).
- Need for a cached spack, (especially in CI I guess).

[2020-07-20 16:55] davidbeckingsale commented on #367
Yes, that's right. Is this achievable?

[2020-07-20 17:42] adrienbernede commented on #367
First point is easy, it’s mostly a "strategic" decision :), I’m almost there (with the hash in the host-config name).
Second point will need a bit more work. I’ll keep you posted.

[2020-07-24 17:56] davidbeckingsale commented on #317
@evaleev this support was added with PR #320 🎉

[2020-07-24 17:56] #317 closed

[2020-07-27 17:36] mcfadden8 opened #381 "Request for CI to produce meaningful email notifications"
For Umpire, there are only a few reasons that CI can fail against any given project:

1. CI Success
2. Build failure (compile/link errors) - most likely
3. Test Failures
4. Git failure
5. CI Framework failure - least likely

In generatl, each email summary line should contain: <Status> <Build #> <Project> <Branch>

Status should be one of "CI Success", "Build Failure", "Test Failure", "Git Failure

[2020-07-28 00:39] adrienbernede commented on #381
Thanks for creating the issue.

I found a gitlab issue that tells me this is not yet possible directly with Gitlab at the moment:
https://gitlab.com/gitlab-org/gitlab/-/issues/24841

Also, a quick test this afternoon showed that even when "Watching" a project, only the user triggering the pipeline receives a notification, **for a pipeline trigger from push**. However, every pipeline is considered

[2020-07-29 19:38] #356 closed

[2020-07-29 19:38] #367 closed

[2020-07-30 15:35] aileenperez opened #385 "Using persistent files for memory allocation"
Adding persistent memory will require being able to pass file names to be used with the mmap call. We can move the shared mmap code into a new class in the `alloc` directory. This new allocator can be used by both the `FileMemoryResource` and a new `PersistentMemoryResource`.

- [ ] Create `MmapAllocator` in `alloc` directory
- [ ] Modify `FileMemoryResource` to use the new `MmapAllocator`

[2020-08-06 09:07] clementFoyer opened #388 "Question: Wrapping statically allocated memory (C interface)"
**Is your feature request related to a problem? Please describe.**

I would like to know if there would be a way to wrap memory statically allocated, or allocated from another library, in order to have access to it for copy operations as an example.

**Describe the solution you'd like**

Proposing an API requesting the pointer and the right allocator (or memory resource), either the object, the id

[2020-08-06 13:45] davidbeckingsale commented on #388
Hi @clementFoyer - you can manually register an allocation such that it works with the operations. This requires creating an `AllocationRecord` and then calling the `ResourceManager::registerAllocation` method: https://github.com/LLNL/Umpire/blob/develop/src/umpire/ResourceManager.hpp#L140

We do not expose this in C, primarily due to the `AllocationRecord` containing types that are not accessible

[2020-08-06 13:52] clementFoyer commented on #388
Once I've got my allocator (at least its name), is getting the strategy as simple as calling `ResourceManager::getAllocationStrategy` with the right string, or can I use directly a reference to the allocator as a valid entry as a strategy if I already have a pointer to it?

[2020-08-06 13:54] davidbeckingsale commented on #388
You need to get the `AllocationStrategy` pointer, you can get this directly from an `Allocator` by calling `Allocator::getAllocationStrategy`. The `ResourceManager::getAllocationStrategy` method is private.

[2020-08-06 13:57] clementFoyer commented on #388
So a small wrapper to pick up the strategy and generate the record would be enough (or just register it directly in a C++ component). Do I need to unregister this record before deallocating the corresponding entry?

[2020-08-06 14:11] davidbeckingsale commented on #388
Yes, you must manually deregister the pointer using the `ResourceManager::deregisterAllocation` method. The returned `AllocationRecord` can be ignored.

[2020-08-06 14:18] clementFoyer commented on #388
Perfect. Cheers.

[2020-08-06 15:38] clementFoyer commented on #388
In case anyone needs to do the same, I leave the code as a comment (it should be a good base). It has not been tested and may break.

[code]

And the following can be export in the C source:
[code]

[2020-08-06 15:38] #388 closed

[2020-08-06 15:39] davidbeckingsale commented on #388
Thanks for the code! 👍

[2020-08-06 15:47] clementFoyer commented on #388
Actually, maybe using `umpire::Strategy::mixins::Inspector::registerAllocation()` would be a better way to do it.

[2020-08-06 15:48] davidbeckingsale commented on #388
The mixin is designed to be a privately inherited class, as it tracks some other stuff too. Your proposed solution looks exactly like what I would have designed 😄

We will add this to the C API in future.

[2020-09-05 19:51] pramodk opened #429 "Minor fixes / missing code blocks in the tutorial"
I am going thought [Umpire tutorial](https://umpire.readthedocs.io/en/develop/) and see following and I think there some missing code fragments :

* [here](https://umpire.readthedocs.io/en/develop/tutorial/dynamic_pool.html) I see below line : is there supposed to be allocation call for `*data`?

* [here](https://umpire.readthedocs.io/en/develop/tutorial/introspection.html) I see empty code block:

[2020-09-12 00:59] mcordery opened #433 "Minor tweak to src/umpire/util/memory_sanitizers.hpp"
When compiling Umpire with our newest compiler (based on clang) I ran across a particular problem in src/umpire/util/memory_sanitizers.hpp. Basically, the problem occurs here:

 #if (defined(__clang__) && !defined(__ibmxl__)) || \
     (defined(__GNUC__) && __GNUC__ > 4)
#if ( !defined(__SYCL_COMPILER_VERSION) )
#include <sanitizer/asan_interface.h>
#endif

In our particular version, the include f

[2020-09-14 15:13] mcfadden8 commented on #433
Thanks @mcordery, I will try and take a look at this later this week.

Marty

[2020-09-14 20:09] davidbeckingsale commented on #429
Hey @pramodk - thanks for reporting this. I think some things got moved around when we applied an auto-formatter to our codebase! We will get this fixed up.

[2020-09-14 20:55] mcordery commented on #433
I do note that if I test with icc/icpc, then everything runs fine. If I run the tests with icpx (clang based) the following tests fails.
icpc - all 26 tests passed
icpx - five tests failed
The following tests FAILED:
         17 - allocator_integration_tests (Failed)
         18 - memory_resource_traits_tests (Failed)
         19 - strategy_tests (Child aborted)
         20 - operation_tests (Fail

[2020-09-16 17:19] mcfadden8 commented on #433
Thank you Matthew,

If you could please submit this as a separate problem ticket and provide the details for how Umpire was configured to use icpx as well as the icpx version used, we may be able to review as a separate issue.

Marty

On Sep 14, 2020, at 1:55 PM, Matthew Cordery <notifications@github.com<mailto:notifications@github.com>> wrote:

I do note that if I test with icc/icpc, then everyth

[2020-09-16 18:41] mcfadden8 commented on #433
This was fixed in the pull request above.

[2020-09-16 18:41] #433 closed

[2020-10-15 10:04] clementFoyer opened #473 "Error in documentation"
**Describe the bug**

The documentation indicates the options for enabling the testings to be `ENABLE_TESTING` whereas the correct option (as indicated in `CMakeLists.txt`) is `ENABLE_TESTS`. On configuration, CMake reports an unused parameter when `ENABLE_TESTING` is used.

**To Reproduce**

`cmake -DENABLE_TESTING=OFF`

[2020-10-16 18:39] #473 closed

[2020-11-07 08:39] pramodk commented on #429
thanks @mcfadden8  fixing this in #479!

[2020-11-07 08:39] #429 closed

[2020-12-28 22:49] rhornung67 opened #518 "User Guide link bug"
**Describe the bug**

The uberenv section of the user guide is meant to have a link to uberenv documentation. But, the syntax is wrong for the link; ergo it doesn't work. It is here in the first sentence https://umpire.readthedocs.io/en/develop/developer/uberenv.html

[2021-01-23 00:41] adayton1 opened #527 "Sanitizer tests controlled with a cmake option that was removed"
**Describe the bug**

https://github.com/LLNL/Umpire/blob/b18d8e59d72aa336999dd91febe5528533775258/tests/tools/CMakeLists.txt#L8

The ENABLE_SANITIZERS CMake option was removed at some point in favor of automatically detecting address sanitizer support, which appears to set the UMPIRE_HAS_ASAN CMake variable. I believe that should be used here instead of ENABLE_SANITIZERS.

[2021-01-25 08:40] haampie opened #528 "Build error with examples"
**Describe the bug**

I tried to build Umpire with CUDA support and examples, but the examples error with a compilation error. Seems like nvcc doesn't know how to locate some device functions when doing device link step. The error is:

[code]

**To Reproduce**

[code]

[code]

**Compilers & Libraries (please complete the following information):**
See above

**Additional context**

I can make it co

[2021-01-25 15:32] davidbeckingsale commented on #527
Good catch, thanks @adayton1

[2021-01-25 18:52] haampie commented on #528
The solution is to build Umpire as a static library since device code cannot be linked.

Should building a static lib be forced when CUDA is enabled?

Or should there be a separate libumpiredeviceallocator.a with just the device functions?

[2021-01-25 19:36] haampie commented on #528
ref https://github.com/spack/spack/pull/21264

[2021-01-25 21:02] #527 closed

[2021-01-26 18:47] haampie opened #530 "Consider using tagged commits of submodules when releasing new versions"
**Is your feature request related to a problem? Please describe.**

In Spack it is preferrable to use tarballs over cloning git repo's with submodules, since that way we can add checksums to verify integrity of the sources. I tried to set that up for Umpire, but couldn't,  because there's only a single release of Umpire where `blt` is on a tagged version. I didn't check `camp`.

**Describe the sol

[2021-01-26 20:17] davidbeckingsale commented on #530
Spack can handle commits for versions, and since blt and camp have Spack packages I would suggest using those commit hashes to set up the required versions for the dependencies in Umpire, if this is important to you.

Umpire doesn't control the release schedule of those other packages and we often need to update them without a numbered release.

[2021-01-27 12:29] haampie commented on #530
I know it's possible to do something like `version('1.0.0-somehash', commit=somehash)` for `blt` and `camp`, but it's not great.

FWIW, currently the spack package is broken for older versions, because it sets

[code]

and does not constrain `camp` and `blt` to a compatible version.

Current best option is to drop these dependencies and handle them through submodules then

[2021-02-11 00:47] ashermancinelli opened #538 "HIP Runtime Linker Errors"
**Describe the bug**

Exported CMake targets explicitly link against target `hip_runtime`, although hip_runtime is just a collection of headers and not a concrete library afaik (is hip_runtime an interface/alias cmake target internal to umpire's cmake?).

To circumvent this, I build Umpire and then manually remove `hip_runtime` from array on line 76 of `<prefix>/share/umpire/cmake/umpire-targets.c

[2021-02-11 00:52] davidbeckingsale commented on #538
The `hip_runtime` target comes from BLT. When you build a HIP-enabled Umpire it is required to be linked to the HIP runtime library, which is most easily done by linking with `hipcc`. The target handles this.

How do you support HIP compilation in your application?

[2021-02-11 15:45] ashermancinelli commented on #538
Perhaps I'm just misusing the library. According to [this issue in ROCm repo](https://github.com/ROCm-Developer-Tools/HIP/issues/231), we set C++ compiler to hip clang and link against `hip::device` for device code, as discussed on [this ROCm documentation page](https://rocmdocs.amd.com/en/latest/Installation_Guide/Using-CMake-with-AMD-ROCm.html). Do you see anything immediately wrong with this, a

[2021-02-11 15:51] ashermancinelli commented on #538
For additional context:

* The error occurs in the link step, the sources with RAJA kernels using HIP policies compile fine.
* The final linked targets also link to cmake target hip::device, and are confirmed to use `--hip-link`

[2021-02-21 22:26] mclarsen commented on #528
I just hit this, but I have built against umpire using cuda inside a shared lib. Not sure what has changed.

[2021-02-22 15:14] davidbeckingsale commented on #528
I think this will be solved by https://github.com/LLNL/blt/pull/449 For now I would recommend turning off the examples when doing a shared library build.

[2021-02-25 15:46] ashermancinelli commented on #538
We ran into this issue with RAJA - would you like me to raise an issue on that repo as well? After removing the hip_runtime targets manually our entire stack built and ran successfully.

[2021-02-25 15:55] davidbeckingsale commented on #538
I'm hopeful that #541 will help - if you would like to try and build and install that branch and see if the issue goes away that would be super helpful. I can than make the same change to RAJA.

[2021-02-27 16:46] mclarsen opened #543 "Umpire does not find camp after spack build"
**Describe the bug**

Umpire does not find camp after spack build. When I try to include umpire in my project, it fails on the camp dir, although umpire itself built fine. Does umpire require camp, and if so, why doesn't it depend on camp inside spack?

[2021-02-27 16:51] mclarsen commented on #543
This is what I have to use: https://github.com/LLNL/devil_ray/blob/develop/scripts/uberenv/packages/umpire/package.py

[2021-03-01 16:38] davidbeckingsale commented on #543
It does depend on camp in Spack: https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/umpire/package.py

[2021-03-01 16:40] mclarsen commented on #543
I swear I looked! Thanks David.

[2021-03-01 16:40] #543 closed

[2021-03-01 16:40] davidbeckingsale commented on #543
No problem 👍

[2021-03-17 19:45] ashermancinelli commented on #538
The fix has been merged into develop and I have validated the patch myself. Thanks for the help!

[2021-03-17 19:45] #538 closed

[2021-04-19 19:56] pbauman opened #556 "Error when trying to build with HIP support"
**Describe the bug**
I encounter the following compilation error:
<pre>
[ 17%] Building CXX object src/umpire/resource/CMakeFiles/umpire_resource.dir/HostResourceFactory.cpp.o
<command-line>: error: macro names must be identifiers
In file included from /home/users/coe0093/work/umpire/Umpire/src/umpire/alloc/MallocAllocator.hpp:16,
                 from /home/users/coe0093/work/umpire/Umpire/src/um

[2021-04-19 23:42] davidbeckingsale commented on #556
Hey @pbauman - this is an issue that came up with the new ROCm release, and is fixed in BLT here: https://github.com/LLNL/blt/pull/473

If you update the BLT submodule yourself it should build. You do not need to pass `hipcc` as the `CMAKE_CXX_COMPILER`.

I'll create a PR to bump the BLT version in Umpire now...

[2021-04-20 00:35] pbauman commented on #556
OK, thanks for the heads-up @davidbeckingsale  and thanks for the quick reply. I'll give this a whirl tomorrow.

[2021-04-20 12:20] pbauman commented on #556
Hi @davidbeckingsale, I manually applied the changes that are present in LLNL/blt#473 and that got me a bit farther, but unfortunately, it still looks like there's an issue. It appears that the path to `hsa` is not included in the compilation line:

<pre>
[ 17%] Building CXX object src/umpire/resource/CMakeFiles/umpire_resource.dir/HostResourceFactory.cpp.o
cd /home/users/coe0093/work/umpire/build

[2021-04-20 15:06] davidbeckingsale commented on #556
Whoops, sorry about this. IIRC this is a bit of a legacy thing from when the symlinks existed - you can manually provide the list of required includes as `-DHIP_RUNTIME_INCLUDE_DIRS=...`  when you run CMake. Example here: https://github.com/LLNL/Umpire/blob/develop/Dockerfile#L69

[2021-04-29 12:21] pbauman commented on #556
Apologies for the slow turn-around on my end. That was the trick and your example was very helpful. I was able to build Umpire with HIP successfully and use it in HYPRE. Thanks for the help!

[2021-04-29 12:21] #556 closed

[2021-04-29 13:47] davidbeckingsale commented on #556
Great! Thank you for following up.

[2021-06-01 08:43] yuanAIhan opened #594 "Can tell me some detail about NumaPolicy?"
I want to read the resource code, but I do not understand the the policy of numa. Could you tell me something about it ?

[2021-06-01 14:41] davidbeckingsale commented on #594
NumaPolicy allows you to allocate memory that will be placed on a specific numa node in the system. This can be used to ensure memory is "close" to execution resources that will be accessing it. You can see some of the implementation here: https://github.com/LLNL/Umpire/blob/develop/src/umpire/util/numa.cpp#L32-L49

[2021-06-02 13:42] yuanAIhan commented on #594
Could I get some examples about the operation of numa ?

[2021-06-16 22:37] davidbeckingsale commented on #594
I'm not sure what kind of examples you are looking for. Is there a specific task you are trying to accomplish?

[2021-07-16 02:49] ashermancinelli opened #603 "Erroneous link to `cuda_runtime`"
**Describe the bug**

Exported targets for Umpire interface link against `cuda_runtime` instead of `cudart` here:
[code]

**To Reproduce**

Install Umpire with CUDA. An example spack spec I installed which exhibited this behaviour:
[code]

**Expected behavior**

Umpire to link against exported or otherwise available targets, such as the `cudart` target from `find_package(CUDAToolkit)`.

**Compiler

[2021-07-19 16:26] davidbeckingsale commented on #603
Hey @ashermancinelli - does this happen with Umpire develop? We added some logic to export these targets here: https://github.com/LLNL/Umpire/blob/develop/cmake/SetupUmpireThirdParty.cmake#L58-L74

[2021-07-22 20:56] ashermancinelli commented on #603
I'll try this out! From the looks of it, the diff you linked fixes my issue.

[2021-07-29 16:17] evaleev opened #616 "ability shut down umpire's I/O cleanly"
**Is your feature request related to a problem? Please describe.**

`umpire::initialize_io` grabs `std::cerr`'s rdbuf and flushes it when at the end of lifetime of the corresponding static object (`s_error_buffer`). This assumes that the buffer is still around. In our app we reset `std::cerr`'s rdbuf. Unfortunately there is no way to access `s_error_buffer`.

**Describe the solution you'd like**

[2021-08-02 23:17] davidbeckingsale commented on #616
Hey @evaleev - thanks for reporting this. I believe it's actually an error in what we implemented. The log and 'replay' output streams are correctly set to a specific file, e.g. https://github.com/LLNL/Umpire/blob/develop/src/umpire/util/io.cpp#L139

The intent was to do the same for errors, but it looks like we didn't ever implement that!

Would that solution be okay for you?

[2021-08-04 01:46] jeanlucf22 opened #619 "xlc compiler"
**Describe the bug**

Cannot build with XL compiler on Summit at OLCF. Error message:

In file included from /gpfs/alpine/mat190/scratch/jeanluc/GIT/Umpire/src/umpire/strategy/MixedPool.cpp:8:
In file included from /gpfs/alpine/mat190/scratch/jeanluc/GIT/Umpire/src/umpire/strategy/MixedPool.hpp:10:
In file included from /usr/lib/gcc/ppc64le-redhat-linux/4.8.5/../../../../include/c++/4.8.5/map:62:

[2021-08-04 17:26] evaleev commented on #616
@davidbeckingsale yes, sure, if Umpire uses (and most importantly, manages the lifetime of) its own streambufs correctly that will solve this issue for us. Thanks!

[2021-08-25 19:08] liruipeng opened #628 "build error on lassen"
On lassen, configured with
[code]

Error

[code]

[2021-08-25 19:09] davidbeckingsale commented on #628
Looks like it's finding an old version of camp. If this is a git clone, please run `git submodule update --init --recursive`

[2021-08-25 19:12] liruipeng commented on #628
Fixed. Thanks @davidbeckingsale for lightspeed reply!

[2021-08-25 19:12] #628 closed, assigned to nobody

[2021-09-09 01:20] victor-anisimov opened #644 "Compiling Umpire 6.0.0 from inside TiledArray for CUDA platform leads to cmake failing on non-existing targets"
**Describe the bug**

Compiling Umpire 6.0.0 from inside TiledArray github project for CUDA platform leads to cmake errors:
CMake Error at cmake/SetupUmpireThirdParty.cmake:66 (get_target_property):
  get_target_property() called with non-existent target "cuda".

CMake Error at cmake/SetupUmpireThirdParty.cmake:66 (get_target_property):
  get_target_property() called with non-existent target "cuda

[2021-09-09 02:14] victor-anisimov opened #645 "Compiling Umpire 6.0.0 with Clang compiler requires adding #include <stdexcept> to camp/defines.hpp"
**Describe the bug**

A clear and concise description of what the bug is:
Clang compiler requires adding #include <stdexcept> to camp/defines.hpp

**To Reproduce**

git clone --recursive https://github.com/LLNL/Umpire.git Umpire
cd Umpire
git checkout e6bd629c66109dfa090712df0796d2b5b97552b3
cmake -H. -Bbuild -DENABLE_CUDA=On -DUMPIRE_ENABLE_FILESYSTEM=OFF -DENABLE_TESTS=On -DENABLE_EXAMPLES=On -D

[2021-09-16 17:28] davidbeckingsale commented on #645
This is fixed with a slightly newer camp release - Umpire 6.0.0 should be compatible with camp@0.3.0 (which contains this include)

[2021-09-16 17:28] #645 closed, assigned to nobody

[2021-09-16 17:29] davidbeckingsale commented on #644
Does TiledArray use BLT? I would only expect this error to occur if Umpire is being configured with an older version of BLT than the submodule bundled with the release.

[2021-09-16 23:32] liruipeng opened #652 "Link hypre with umpire using host linker"
Hi, Umpire developers,

We now use host linker for the drivers in hypre. With Umpire, we got the following error,
[code]
It seems that we need a separable compilation step for `libumpire.a`. I did this by
[code]
and added `dlink.o` to the link line, and it worked.

Are we supposed to do this on our side?

Thanks

-Ruipeng

[2021-09-16 23:34] davidbeckingsale commented on #652
Yes, unfortunately for now that is required since we provide a DeviceAllocator which exposes device code. In future, we are looking at ways to avoid this by potentially providing a separate `libumpire_device.a` which would contain all the the device symbols and could be omitted if you aren't using them.

[2021-09-16 23:34] #652 closed, assigned to nobody

[2021-09-17 09:07] albestro opened #653 "Build problem with GCC@10.3.0 with CUDA enabled"
**Describe the bug**

Compiler GCC 10.3.0 crashes when building `umpire+cuda`.

Tested versions 5.0.1, 6.0.0 and `develop`(5201a47a35e3844160dcbecd0916f8c96aa7dd07). Switching to GCC 10.2.0 works.

[code]

**Compilers & Libraries**

Just reporting the environment of the last test I did.

[code]

[2021-09-17 09:22] msimberg opened #654 "Umpire is missing an umpire-config-version.cmake file"
Currently only an `umpire-config.cmake` file is generated. Since there is no `umpire-config-version.cmake` file, it's not possible to find umpire using a version constraint (`find_package(umpire x.y.z REQUIRED)`). `find_package` fails since the version "found" is "unknown" without `umpire-config-version.cmake`.

Edit: this can be used to generate the file: https://cmake.org/cmake/help/latest/modul

[2021-09-17 14:58] victor-anisimov commented on #644
You are right. The latest (Sep 3) commit of TiledArray compiles fine with Umpire 6.0.0. No cmake error is observed. The branch of TiledArray (July 1) that I work with is apparently outdated. Thanks!

[2021-09-17 14:59] #644 closed, assigned to nobody

[2021-09-17 15:18] evaleev commented on #644
David, sorry, yes, at some point we pinned to a patched BLT, we no longer
do that.

On Fri, Sep 17, 2021 at 10:59 AM Victor Anisimov ***@***.***>
wrote:

--
web: valeyev.net

[2021-09-17 15:31] davidbeckingsale commented on #644
No problems, glad it was an easy fix.

[2021-09-18 00:14] #654 closed, assigned to kab163

[2021-09-20 23:40] davidbeckingsale commented on #530
BLT and camp now point at tagged versions (and we are going to be doing a better job of keeping things up to date moving forwards). Latest spack packages enforce the correct version constraints.

[2021-09-20 23:41] #530 closed

[2021-09-20 23:41] #528 closed

[2021-09-20 23:41] #385 closed

[2021-09-20 23:43] davidbeckingsale commented on #518
As best I can tell, this is fixed 😄

[2021-09-20 23:43] #518 closed

[2021-09-20 23:44] davidbeckingsale commented on #619
Closing this for now - please reopen if you have more problems.

[2021-09-20 23:44] #619 closed

[2021-09-20 23:44] davidbeckingsale commented on #653
Thanks for this report - let's handle it in the Spack package as you propose.

[2021-09-20 23:44] #653 closed, assigned to nobody

[2021-09-20 23:45] #594 closed

[2021-09-20 23:45] davidbeckingsale commented on #352
I believe this is now handled via `BLT_CXX_STD` and `CMAKE_CUDA_STANDARD`

[2021-09-20 23:45] #352 closed

[2021-10-07 15:55] PaulMullowney opened #667 "CUDA compilation on Summit with gcc 10.2 and cuda 11.3"
What's the correct way to specify the cuda architecture when configuring with cmake. I tried:

-DCMAKE_CUDA_ARCHITECTURES=70

However, the cmake configure fails via:

-- CUDA Support is ON
-- The CUDA compiler identification is NVIDIA 11.3.109
-- Detecting CUDA compiler ABI info
-- Detecting CUDA compiler ABI info - failed
-- Check for working CUDA compiler: /sw/summit/cuda/11.3.1/bin/nvcc
-- Chec

[2021-10-07 16:08] davidbeckingsale commented on #667
I would expect that to work. You could also try adding `-arch sm_70` directly to CMAKE_CUDA_FLAGS.

[2021-10-07 18:11] PaulMullowney commented on #667
Ultimately, I was able to get it compile and build with:

cmake .. -DCMAKE_BUILD_TYPE=RELWITHDEBINFO -DENABLE_CUDA=ON -DCMAKE_INSTALL_PREFIX=/gpfs/alpine/cfd116/scratch/mullowne/install/gpu/umpire-$(date +"%Y-%m-%d")/ -DCMAKE_VERBOSE_MAKEFILE=ON -DUMPIRE_ENABLE_C=ON -DCMAKE_CUDA_ARCHITECTURES=70 -DCMAKE_CXX_STANDARD=11

However, I needed to add:
#include < stdexcept >
to:
src/umpire/tpl/campinclud

[2021-10-07 18:16] davidbeckingsale commented on #667
I think you need to do a device link before the final hypre link. This should be handled by a CMake-based build system when the umpire targets are imported.

I’m not sure the specifics of the HYPRE build system.

[2021-10-07 18:50] PhilipDeegan commented on #667
I had more luck when building/linking UMPIRE with cmake configured with ```-DBUILD_SHARED_LIBS=ON```

[2021-12-07 21:47] pwang234 opened #685 "Compiler error when enabling CUDA"
**Describe the bug**

I encountered the following compiler error when trying to compile Umpire:

In file included from /fs/hypre/Umpire/src/umpire/tpl/camp/include/camp/camp.hpp:17,
                 from /fs/hypre/Umpire/tests/integration/test_helpers.hpp:9,
                 from /fs/hypre/Umpire/tests/integration/operation_tests.cpp:7:
/fs/hypre/Umpire/src/umpire/tpl/camp/include/camp/defines.hpp

[2022-01-25 16:41] mlohry opened #699 "Undefined references when compiling with -DBUILD_SHARED_LIBS=On"
**Describe the bug**

Compilation for a shared library fails, but default static library succeeds.

**To Reproduce**

 cmake .. -DENABLE_CUDA=On -DBUILD_SHARED_LIBS=On
make -j 12

**Expected behavior**

A shared libumpire.so library installation.

**Compilers & Libraries (please complete the following information):**
cmake configuration output:

-- The CXX compiler identification is GNU 9.3.0
-- T

[2022-02-22 22:40] #381 closed

[2022-02-22 22:40] mcfadden8 commented on #381
Not worried about this.

[2022-02-22 22:40] #667 closed, assigned to nobody

[2022-02-22 22:41] davidbeckingsale commented on #685
This is fixed using a newer version of camp.

[2022-02-22 22:41] #685 closed, assigned to nobody

[2022-02-22 22:41] davidbeckingsale commented on #699
We've seen issues with shared libraries and CUDA in the past. Are you able to try with a newer version of CMake?

If not, a static build should work fine.

[2022-02-25 20:02] adrienbernede commented on #381
I’ll be back soon, sorting issues that matters to you guys will help for sure.

[2022-03-10 18:54] mclarsen opened #712 "Don't error when compiled with cuda but no device present."
**Is your feature request related to a problem? Please describe.**
We deploy the same container to VM's that might or might not have GPUs, but we only create a single image. If we don't have GPUs, we would never request device memory, and would error out before any request for a device allocator.

**Describe the solution you'd like**

Only error if configured with cuda and device memory is request

[2022-03-18 21:17] kab163 commented on #712
We are actively looking in to this. Rest assured!

[2022-03-21 00:15] gzagaris opened #718 "Better guard debug output in AllocationMap::find()"
**Is your feature request related to a problem? Please describe.**

In debug, I see a lot of verbose output from Umpire due to the following:
https://github.com/LLNL/Umpire/blob/8f61165c0bdcf7b3a09cad69b2a938120a54d94e/src/umpire/util/AllocationMap.cpp#L192-L195

This happens b/c I do have buffers that may be allocated on the stack, but, the code may still try to find an umpire allocator in the pr

[2022-04-05 17:50] #712 closed, assigned to nobody

[2022-04-11 20:43] degrbg opened #729 "Use-after-free in FixedMallocPool on Windows"
**Describe the bug**

Several tests are failing on Windows due to a use-after-free in `util::FixedMallocPool`.

The use-after-free can occur when a `util::FixedMallocPool` object is copy-constructed from another `util::FixedMallocPool` object. This copy construction is shallow, producing two identical `util::FixedMallocPool::m_pool` vectors of `util::FixedMallocPool::Pool` objects that point to th

[2022-04-12 22:00] davidbeckingsale commented on #729
I think a Windows-specific implementation of the pool_allocator would be fine. I remember being confused by this when I hit it, so a more robust workaround would be great.

[2022-04-13 21:21] davidbeckingsale commented on #699
This now works with CMake 3.20 - we have added a shared CUDA build to our CI.

[2022-04-13 21:21] #699 closed, assigned to nobody

[2022-04-15 00:57] degrbg commented on #729
OK, I'll think about how to do this. So far I have discovered that this bug only appears in the Windows Debug build. In the Windows Release build the STL container does not internally copy the `pool_allocator` object, so there is only one `util::FixedMallocPool` object, not two objects pointing to the same memory resource. The converting copy constructor definition can even be removed from `pool_a

[2022-04-19 20:13] #718 closed, assigned to nobody

[2022-04-23 00:06] liruipeng opened #742 "compile error with xl2022.03.03"
**Describe the bug**
[code]

A clear and concise description of what the bug is:

**To Reproduce**

Steps to reproduce the behavior:

**Expected behavior**

A clear and concise description of what you expected to happen:

**Compilers & Libraries (please complete the following information):**
 - Compiler & version: [e.g. GCC 4.9.3]:
 - xl2022.03.03
 - CUDA version (if applicable):
 - 10.1.243

**Ad

[2022-05-03 17:46] #729 closed, assigned to nobody

[2022-06-17 05:31] MrBurmark opened #759 "Logging with slic always creates log message"
It looks like when slic is enabled log messages will always be created.

https://github.com/LLNL/Umpire/blob/6bf231bdbbc797df70d60027ddb714ac2ef7c0a1/src/umpire/util/Macros.hpp#L55

[2022-07-18 17:59] PaulMullowney opened #762 "CMake can't find umpire"
Hi,
I have the following cmake code for finding umpire:
  set(CMAKE_PREFIX_PATH ${UMPIRE_ROOT_DIR} ${CMAKE_PREFIX_PATH})
  message(STATUS "Looking for Umpire at ${UMPIRE_ROOT_DIR}")
  find_package(umpire REQUIRED CONFIG)
  message(STATUS "Found Umpire = ${UMPIRE_DIR}")

I supply UMPIRE_ROOT_DIR during configuration. I see:
-- Looking for Umpire at /gpfs/alpine/cfd116/proj-shared/mullowne/spack-man

[2022-07-18 18:02] PaulMullowney commented on #762
I see the issue. Nevermind.

[2022-07-18 18:33] PaulMullowney commented on #762
find_package(umpire)
keeps finding the cmake package and not the top directory.
/gpfs/alpine/cfd116/proj-shared/mullowne/spack-manager-hma/spack/opt/spack/cray-sles15-zen3/clang-14.0.0/umpire-2022.03.1-zysyhnfci37w7ysfoifpei4bfyasunv5/lib/cmake/umpire

Any ideas on how to fix?

[2022-07-18 18:35] davidbeckingsale commented on #762
That's where `umpire-config.cmake` is installed. After running `find_package`, you should be able to just depend on the `umpire` target within your own CMake project.

[2022-07-18 18:45] PaulMullowney commented on #762
Understood. But I was expecting umpire_INCLUDE_DIRS, umpire_LIBRARIES to be defined after find_package is called. They're not.

[2022-07-18 21:03] PaulMullowney opened #763 "spack build with ROCm 5.1.0 on crusher"
Not sure how to resolve this. I add +rocm as my spack variant.

CMake Error in CMakeLists.txt:
  Target "blt_hip" INTERFACE_INCLUDE_DIRECTORIES property contains path:

    "/gpfs/alpine/cfd116/proj-shared/mullowne/spack-manager-hma/stage/spack-stage-umpire-2022.03.1-tqmh5ayb6ho36rsixipec3swpyo6p7y6/spack-src/HIP_CLANG_INCLUDE_PATH-NOTFOUND/.."

  which is prefixed in the source directory.

CMake

[2022-07-30 18:50] cyrush opened #766 "what is the proper way to import HIP in cmake when importing umpire?"
I am using umpire v2022.03.1, importing it into a stand alone cmake build that does not use blt.

In my imported targets - I use the following before I import Umpire:

[code]

That makes sure several AMD-related imported targets required by umpire are there.

However, blt dependence ends up undermining me:

[code]

[2022-07-31 03:02] cyrush commented on #766
Closing b/c this is likely and issue with not exporting blt stuff correctly in Ascent -- and not an Umpire problem.

Sorry for the noise!

[2022-07-31 03:02] #766 closed, assigned to nobody

[2022-08-02 18:13] davidbeckingsale commented on #763
Hey @PaulMullowney this was a recent breakage that should be addressed by modifying your Umpire spack package as seen in this PR: https://github.com/LLNL/Umpire/pull/767/files#diff-dcd3e921ce7c31781129dbf03081df2346e221003b3dae0c55ceddb33896ad39R204-R208

We will have this up in mainline Spack soon.

[2022-08-03 14:53] PaulMullowney commented on #763
Thanks for the update. Right now, I'm just hooking into system versions Umpire on summit and crusher, but being able to build via spack is helpful.

[2022-08-12 09:52] msimberg opened #771 "`std::filesystem` incorrectly detected"
I think the check for `std::filesystem` is currently insufficient. GCC 11 updated the default C++ standard to 17. When the check is done no C++ standard flags are passed to the compilation which makes it use the default of 17 and it concludes that `std::filesystem` is available. However, the default `BLT_CXX_STD` is C++14, which makes compilation then fail because `std::filesystem` isn't available

[2022-08-30 14:22] davidbeckingsale commented on #771
@msimberg - can you please confirm that #781 fixes this issue for you?

[2022-09-22 17:13] cameronrutherford commented on #699
https://github.com/spack/spack/blob/develop/var/spack/repos/builtin/packages/umpire/package.py#L122 - does this mean that this line in the Umpire Spack package can be removed if people are using CMake >= 3.20?

[2022-10-18 11:11] evaleev commented on #771
This may be relevant: with older `libstdc++` libs may need to link against `libstdc++fs`, see https://gitlab.kitware.com/cmake/cmake/-/issues/17834 and https://github.com/vector-of-bool/CMakeCM/blob/master/modules/FindFilesystem.cmake

[2022-11-15 21:42] #763 closed, assigned to nobody

[2022-11-15 21:43] #762 closed, assigned to nobody

[2022-11-15 21:52] PaulMullowney opened #794 "Hypre, Umpire and hipMemGetInfo"
I'm not sure if this is the right place to ask this question. I'm using Hypre with Umpire enabled for AMD GPUs (rocm 5.1.0). In my application, I query the amount of free memory available with hipMemGetInfo after key steps (matrix creation, vector creation, preconditioner setup, ...). The results of these calls when **not** using Umpire are:

Before BuildMatrix : rank 0 of 8, free memory=63.98 GB,

[2022-11-29 18:04] PaulMullowney commented on #794
Anyone have any insight on this?

As a follow up, should I expect device memory pools larger than 4GB to work?

[2022-11-29 18:06] davidbeckingsale commented on #794
Sorry for the delay. I think that it should work, but I'm not sure exactly how hypre (or you) are configuring and managing the pools. Can you share more details?